export QT_STYLE_OVERRIDE=kvantum

function run {
  if ! pgrep -x $(basename $1 | head -c 15) 1>/dev/null;
  then
    $@&
  fi
}

#set wallpaper
feh --bg-fill $HOME/Wallpapers/archlinux/arch_flat.png &
#start sxhkd to replace Qtile native key-bindings
run sxhkd -c $HOME/.config/sxhkd/sxhkdrc &

#starting utility applications at boot time
run nm-applet &
numlockx on &
picom --config $HOME/.config/picom/picom.conf &

#starting user applications at boot time
run cbatticon -u 5 &
run volumeicon &
run udiskie -t &
